<div>
    <section class="content-header">
        <div class="container-fluid">
         <!-- <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Rayons</h1>
            </div>
          </div> -->
        </div><!-- /.container-fluid -->
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modal-lg">
          Ajouter un rayon
        </button>
        <br/><br/>
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Liste des rayons</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="example1" class="table table-bordered table-hover">
              <thead>
                  <tr>
                    <th>Libelle</th>
                    <th>Description</th>
                    <th>Action</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let rayon of rayons">
                    <td>{{rayon.libelle}}</td>
                    <td>{{rayon.description}}</td>
                    <td>
                      <button class="btn btn-primary" (click)="onEdit(rayon)"><i class="fas fa-edit"></i></button>&nbsp;&nbsp;&nbsp;
                      <button class="btn btn-danger" (click)="onDelete(rayon)"><i class="fas fa-trash-alt"></i></button>
                    </td>
                  </tr>
              </tbody>
             
            </table>
          </div>
          <!-- /.card-body -->
        </div>
      </section>
     
      <div class="modal fade" id="modal-lg">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Parametrage Rayons</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form role="form" (submit)="save(rayonForm)" [formGroup]="rayonForm">
                <div class="card-body">
                  <div class="form-group">
                    <label for="libelle">Libelle</label>
                    <input type="text" formControlName="libelle" class="form-control" id="libelle" placeholder="Enter Libelle">
                  </div>
                  <div class="form-group">
                    <label for="desc">Description</label>
                    <textarea class="form-control" formControlName="description" id="desc" placeholder="Enter Description"></textarea>
                  </div>
                </div>
                <!-- /.card-body -->
                <!--<div class="card-footer">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>-->
                <div class="modal-footer justify-content-between">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Save</button>
                </div>
              </form>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
</div>
