<div>
    <section class="content-header">
        <div class="container-fluid">
        </div><!-- /.container-fluid -->
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modal-lg">
          Ajouter un Produit
        </button>
        <br/><br/>
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Liste des Produits</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="example1" class="table table-bordered table-hover">
              <thead>
                  <tr>
                    <th>Ref Produit</th>
                    <th>Libelle</th>
                    <th>Prix Unitaire</th>
                    <th>Quantite</th>
                    <th>Seuil Alerte</th>
                    <th>Seuil Max</th>
                    <th>Action</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let produit of produits">
                    <td>{{produit.refProduit}}</td>
                    <td>{{produit.libelle}}</td>
                    <td>{{produit.prixUnitaire}}</td>
                    <td>{{produit.quantite}}</td>
                    <td>{{produit.seuilAlerte}}</td>
                    <td>{{produit.seuilMax}}</td>
                    <td>
                        <button class="btn btn-primary" (click)="onEdit(produit)"><i class="fas fa-edit"></i></button>&nbsp;&nbsp;&nbsp;
                        <button class="btn btn-danger" (click)="onDelete(produit)"><i class="fas fa-trash-alt"></i></button>
                      </td>
                  </tr>
              </tbody>
             
            </table>
          </div>
          <!-- /.card-body -->
        </div>
      </section>
     
      <div class="modal fade" id="modal-lg">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Enregistrer des produits</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form role="form" (submit)="save(produitForm)" [formGroup]="produitForm">
                <div class="card-body">
                    <div class="form-group">
                        <label for="ref">Ref Produit</label>
                        <input type="text" formControlName="refProduit" class="form-control" id="ref" placeholder="Enter RefProduit">
                    </div>  
                    <div class="form-group">
                        <label for="libelle">Libelle</label>
                        <input type="text" formControlName="libelle" class="form-control" id="libelle" placeholder="Enter Libelle">
                    </div>
                    <div class="form-group">
                        <label for="qte">Quantité</label>
                        <input type="number" class="form-control" formControlName="quantite" id="qte" placeholder="Enter quantite">
                    </div>
                    <div class="form-group">
                        <label for="seuil">Seuil Alerte</label>
                        <input type="number" class="form-control" formControlName="seuilAlerte" id="seuil" placeholder="Enter Seuil Alerte">
                    </div>
                    <div class="form-group">
                        <label for="max">Seuil Max</label>
                        <input type="number" class="form-control" formControlName="seuilMax" id="max" placeholder="Enter seuilMax">
                    </div>
                    <div class="form-group">
                        <label for="rayon">Rayon</label>
                        <select id="cars" name="cars" formControlName="rayonId" class="form-control">
                            <option *ngFor="let rayon of rayons" [value]="rayon.id">{{rayon.libelle}}</option>
                          </select>
                    </div>
                </div>
                <!-- /.card-body -->
                <!--<div class="card-footer">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>-->
                <div class="modal-footer justify-content-between">
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-success">Save</button>
                </div>
              </form>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>    
</div>
